PORT=3003
RABBITMQ_URL=amqp://CHANGE_ME:CHANGE_ME@localhost:5672
NOTIFICATION_HUB_URL=http://localhost:3004

DB_HOST=localhost
DB_PORT=5432
DB_NAME=cafeteria
DB_USER=admin
DB_PASSWORD=CHANGE_ME

KITCHEN_MIN_MS=3000
KITCHEN_MAX_MS=7000